<mat-toolbar>
    <div class="page-title spacer">
        Rockwell Plugin
    </div>

    <button mat-icon-button (click)="logout()" *ngIf="authenticated">
        <mat-icon>
            logout
        </mat-icon>
    </button>

    <button mat-icon-button routerLink="/signin" *ngIf="!authenticated">
        <mat-icon>
            login
        </mat-icon>
    </button>
</mat-toolbar>

<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<mat-content>
    <mat-qrcode [value]="barcode" *ngIf="!loading"></mat-qrcode>

    <div class="status" [class.active]="deviceId" [class.inactive]="!deviceId" *ngIf="!loading">
        {{ deviceId ? 'active' : 'inactive' }}
    </div>

    <button mat-icon-button routerLink="/configure" *ngIf="authenticated && !loading">
        <mat-icon>
            create
        </mat-icon>
    </button>

    <button mat-icon-button routerLink="/watch" *ngIf="authenticated && !loading">
        <mat-icon>
            timeline
        </mat-icon>
    </button>

    <div class="authenticated" *ngIf="!authenticated && !loading">
        sign in required
    </div>

    <div class="socket">
        {{ socket.status | async }}
    </div>
</mat-content>