<mat-toolbar>
    <div class="page-title spacer">
        Rockwell Plugin
    </div>

    <button mat-icon-button routerLink="/">
        <mat-icon>
            close
        </mat-icon>
    </button>
</mat-toolbar>

<mat-content>
    <div class="widgets">
        <div class="widget" *ngFor="let input of inputs">
            <div class="label">
                {{ input.as }}
            </div>
            <div class="value">
                {{ input.value }}
            </div>
        </div>
    </div>
</mat-content>