.mat-column-tagId {
    width: 125px;
    padding-left: 16px !important;
}
.mat-column-edit,
.mat-column-copy,
.mat-column-delete {
    width: 40px;
}
.mat-column-delete {
    padding-right: 16px !important;
}
form {
    margin-top: 20px;
}
mat-footer button {
    width: 100%;
    margin: auto;
    display: flex;
    max-width: 400px;
    align-items: center;
    justify-content: center;
}