<mat-toolbar>
    <div class="page-title spacer">
        configure plugin
    </div>

    <button mat-icon-button routerLink="/">
        <mat-icon>
            close
        </mat-icon>
    </button>
</mat-toolbar>

<mat-content>
    <mat-progress-bar mode="indeterminate" *ngIf="loading && form.invalid"></mat-progress-bar>

    <table mat-table [dataSource]="io">
        <ng-container matColumnDef="tagId">
            <th mat-header-cell *matHeaderCellDef>
                Tag ID
            </th>
            <td mat-cell *matCellDef="let element">
                <input matInput type="text" name="tagId" placeholder="tag id" [(ngModel)]="element.tagId" required>
            </td>
            <td mat-footer-cell *matFooterCellDef>
                <input matInput type="text" name="tagId" placeholder="tag id" [(ngModel)]="input.tagId" required>
            </td>
        </ng-container>

        <ng-container matColumnDef="moduleId">
            <th mat-header-cell *matHeaderCellDef>
                Module ID
            </th>
            <td mat-cell *matCellDef="let element">
                <input matInput type="number" name="moduleId" placeholder="module id" [(ngModel)]="element.moduleId" required>
            </td>
            <td mat-footer-cell *matFooterCellDef>
                <input matInput type="number" name="moduleId" placeholder="module id" [(ngModel)]="input.moduleId" required>
            </td>
        </ng-container>
    
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>
                Type
            </th>
            <td mat-cell *matCellDef="let element">
                <mat-select name="type" placeholder="type" [(ngModel)]="element.type" required>
                    <mat-option value="analog">
                        Analog
                    </mat-option>
                    <mat-option value="digital">
                        Digital
                    </mat-option>
                </mat-select>
            </td>
            <td mat-footer-cell *matFooterCellDef>
                <mat-select name="type" placeholder="type" [(ngModel)]="input.type" required>
                    <mat-option value="analog">
                        Analog
                    </mat-option>
                    <mat-option value="digital">
                        Digital
                    </mat-option>
                </mat-select>
            </td>
        </ng-container>

        <ng-container matColumnDef="as">
            <th mat-header-cell *matHeaderCellDef>
                Export As
            </th>
            <td mat-cell *matCellDef="let element">
                <input matInput type="text" name="as" placeholder="as" [(ngModel)]="element.as" required>
            </td>
            <td mat-footer-cell *matFooterCellDef>
                <input matInput type="text" name="as" placeholder="as" [(ngModel)]="input.as" required>
            </td>
        </ng-container>

        <ng-container matColumnDef="interface">
            <th mat-header-cell *matHeaderCellDef>
                Interface
            </th>
            <td mat-cell *matCellDef="let element">
                <mat-select name="interface" placeholder="interface" [(ngModel)]="element.interface" required>
                    <mat-option value="INT">
                        INT
                    </mat-option>
                    <mat-option value="SINT">
                        SINT
                    </mat-option>
                    <mat-option value="DINT">
                        DINT
                    </mat-option>
                    <mat-option value="REAL">
                        REAL
                    </mat-option>
                    <mat-option value="BOOL">
                        BOOL
                    </mat-option>
                </mat-select>
            </td>
            <td mat-footer-cell *matFooterCellDef>
                <mat-select name="interface" placeholder="interface" [(ngModel)]="input.interface" required>
                    <mat-option value="INT">
                        INT
                    </mat-option>
                    <mat-option value="SINT">
                        SINT
                    </mat-option>
                    <mat-option value="DINT">
                        DINT
                    </mat-option>
                    <mat-option value="REAL">
                        REAL
                    </mat-option>
                    <mat-option value="BOOL">
                        BOOL
                    </mat-option>
                </mat-select>
            </td>
        </ng-container>

        <ng-container matColumnDef="allowance">
            <th mat-header-cell *matHeaderCellDef>
                Allowance
            </th>
            <td mat-cell *matCellDef="let element">
                <input matInput type="number" name="allowance" placeholder="allowance" [(ngModel)]="element.allowance" required>
            </td>
            <td mat-footer-cell *matFooterCellDef>
                <input matInput type="number" name="allowance" placeholder="allowance" [(ngModel)]="input.allowance" required>
            </td>
        </ng-container>

        <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button type="button" mat-icon-button color="warn" (click)="remove(element)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
            <td mat-footer-cell *matFooterCellDef>
                <button type="button" mat-icon-button color="primary" (click)="add()">
                    <mat-icon>add</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns; sticky: true;"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        <tr mat-footer-row *matFooterRowDef="columns"></tr>
    </table>

    <div class="container">
        <form [formGroup]="form" (ngSubmit)="!loading && !form.invalid && submit()">
            <h2>
                Server
            </h2>

            <section formGroupName="server">
                <mat-form-field appearance="outline">
                    <mat-label>
                        Host
                    </mat-label>

                    <input matInput type="url" name="host" placeholder="host" formControlName="host" required>

                    <mat-error *ngIf="errors.server.host">
                        {{ errors.server.host }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>
                        Port
                    </mat-label>

                    <input matInput type="number" min="0" max="65535" step="1" name="port" placeholder="port" formControlName="port" required>

                    <mat-error *ngIf="errors.server.port">
                        {{ errors.server.port }}
                    </mat-error>
                </mat-form-field>
            </section>

            <section formGroupName="server">
                <mat-form-field appearance="outline">
                    <mat-label>
                        Username
                    </mat-label>

                    <input matInput type="text" name="username" placeholder="username" formControlName="username" required>

                    <mat-error *ngIf="errors.server.username">
                        {{ errors.server.username }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>
                        Password
                    </mat-label>

                    <input matInput type="password" name="password" placeholder="password" formControlName="password" required>

                    <mat-error *ngIf="errors.server.password">
                        {{ errors.server.password }}
                    </mat-error>
                </mat-form-field>
            </section>

            <h2>
                MQTT Subscriptions
            </h2>

            <section formGroupName="server">
                <mat-form-field appearance="outline" formGroupName="subscribe">
                    <mat-label>
                        Data
                    </mat-label>

                    <input matInput type="text" name="data" placeholder="data" formControlName="data" required>

                    <mat-error *ngIf="errors.server.subscribe.data">
                        {{ errors.server.subscribe.data }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" formGroupName="subscribe">
                    <mat-label>
                        Control
                    </mat-label>

                    <input matInput type="text" name="control" placeholder="control" formControlName="control" required>

                    <mat-error *ngIf="errors.server.subscribe.control">
                        {{ errors.server.subscribe.control }}
                    </mat-error>
                </mat-form-field>
            </section>

            <h2>
                Service
            </h2>

            <section>
                <mat-form-field appearance="outline">
                    <mat-label>
                        Mode
                    </mat-label>

                    <mat-select name="production" placeholder="mode" formControlName="production" required>
                        <mat-option [value]="true">
                            Production
                        </mat-option>
                        <mat-option [value]="false">
                            Development
                        </mat-option>
                    </mat-select>

                    <mat-error *ngIf="errors.production">
                        {{ errors.production }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>
                        Authentication
                    </mat-label>

                    <mat-select name="authentication" placeholder="authentication" formControlName="authentication" required>
                        <mat-option [value]="true">
                            Enabled
                        </mat-option>
                        <mat-option [value]="false">
                            Disabled
                        </mat-option>
                    </mat-select>

                    <mat-error *ngIf="errors.authentication">
                        {{ errors.authentication }}
                    </mat-error>
                </mat-form-field>
            </section>

            <section>
                <mat-form-field appearance="outline">
                    <mat-label>
                        TX Time (sec)
                    </mat-label>

                    <input matInput type="number" min="60" step="1" name="txtime" placeholder="tx time" formControlName="txtime" required>

                    <mat-error *ngIf="errors.txtime">
                        {{ errors.txtime}}
                    </mat-error>
                </mat-form-field>
            </section>

            <h2>
                Programmable Login Controller
            </h2>

            <section formGroupName="plc">
                <mat-form-field appearance="outline">
                    <mat-label>
                        IP
                    </mat-label>

                    <input matInput type="url" name="ip" placeholder="ip" formControlName="ip" required>

                    <mat-error *ngIf="errors.plc.ip">
                        {{ errors.plc.ip }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>
                        Port
                    </mat-label>

                    <input matInput type="number" min="0" max="65535" step="1" name="port" placeholder="port" formControlName="port" required>

                    <mat-error *ngIf="errors.plc.port">
                        {{ errors.plc.port }}
                    </mat-error>
                </mat-form-field>
            </section>
        </form>
    </div>
</mat-content>

<mat-footer>
    <button mat-flat-button color="dark" (click)="submit()">
        {{ loading ? '' : 'update' }}

        <mat-progress-spinner mode="indeterminate" diameter="30" *ngIf="loading"></mat-progress-spinner>
    </button>
</mat-footer>