<mat-toolbar>
    <div class="page-title spacer">
        Input Editor
    </div>

    <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>

<mat-content>
    <div class="container">
        <form [formGroup]="form" (ngSubmit)="!form.invalid && submit()">
            <h2>
                Read
            </h2>

            <mat-form-field appearance="outline" formGroupName="out">
                <mat-label>
                    Key
                </mat-label>
                
                <mat-select name="key" placeholder="key" formControlName="key" required>
                    <mat-option *ngFor="let o of keys" [value]="o">
                        {{ o }}
                    </mat-option>
                </mat-select>
            
                <mat-error *ngIf="errors.out.key">
                    {{ errors.out.key }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" formGroupName="out">
                <mat-label>
                    Module ID
                </mat-label>
                
                <input matInput type="number" min="0" name="moduleId" placeholder="module id" formControlName="moduleId" required>
            
                <mat-error *ngIf="errors.out.moduleId">
                    {{ errors.out.moduleId }}
                </mat-error>
            </mat-form-field>

            <h2>
                Write
            </h2>

            <mat-form-field appearance="outline" formGroupName="in">
                <mat-label>
                    Key
                </mat-label>
                
                <mat-select name="key" placeholder="key" formControlName="key" required>
                    <mat-option *ngFor="let o of keys" [value]="o">
                        {{ o }}
                    </mat-option>
                </mat-select>
            
                <mat-error *ngIf="errors.in.key">
                    {{ errors.in.key }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" formGroupName="in">
                <mat-label>
                    Module ID
                </mat-label>
                
                <input matInput type="number" min="0" name="moduleId" placeholder="module id" formControlName="moduleId" required>
            
                <mat-error *ngIf="errors.in.moduleId">
                    {{ errors.in.moduleId }}
                </mat-error>
            </mat-form-field>
            
            <mat-form-field appearance="outline" formGroupName="in">
                <mat-label>
                    Device
                </mat-label>
                
                <mat-select name="deviceId" placeholder="device" formControlName="deviceId" required>
                    <mat-option *ngFor="let device of devices.data" [value]="device.deviceId">
                        {{ device.description }}
                    </mat-option>
                </mat-select>
            
                <mat-error *ngIf="errors.in.deviceId">
                    {{ errors.in.deviceId }}
                </mat-error>
            </mat-form-field>

            <h2>
                Register
            </h2>
            
            <mat-form-field appearance="outline">
                <mat-label>
                    Tag ID
                </mat-label>
                
                <input matInput type="text" name="tagId" placeholder="tag id" formControlName="tagId" required>
            
                <mat-error *ngIf="errors.tagId">
                    {{ errors.tagId }}
                </mat-error>
            </mat-form-field>
            
            <mat-form-field appearance="outline">
                <mat-label>
                    Interface
                </mat-label>
                
                <mat-select name="interface" placeholder="device" formControlName="interface" required>
                    <mat-option value="INT">
                        INT
                    </mat-option>
                    <mat-option value="SINT">
                        SINT
                    </mat-option>
                    <mat-option value="DINT">
                        DINT
                    </mat-option>
                    <mat-option value="REAL">
                        REAL
                    </mat-option>
                    <mat-option value="BOOL">
                        BOOL
                    </mat-option>
                </mat-select>
                
                <mat-error *ngIf="errors.interface">
                    {{ errors.interface }}
                </mat-error>
            </mat-form-field>
            
            <mat-form-field appearance="outline">
                <mat-label>
                    Allowance
                </mat-label>
                
                <input matInput type="number" name="allowance" placeholder="allowance" formControlName="allowance" required>
            
                <mat-error *ngIf="errors.allowance">
                    {{ errors.allowance }}
                </mat-error>
            </mat-form-field>
            
            <mat-form-field appearance="outline">
                <mat-label>
                    Writeable
                </mat-label>
                
                <mat-select name="writeable" placeholder="device" formControlName="writeable" required>
                    <mat-option [value]="true">
                        Enabled
                    </mat-option>

                    <mat-option [value]="false">
                        Disnabled
                    </mat-option>
                </mat-select>
                
                <mat-error *ngIf="errors.writeable">
                    {{ errors.writeable }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>
                    Description
                </mat-label>
                
                <input matInput type="text" name="description" placeholder="description" formControlName="description" required>
            
                <mat-error *ngIf="errors.description">
                    {{ errors.description }}
                </mat-error>
            </mat-form-field>
        </form>
    </div>
</mat-content>

<mat-footer>
    <button mat-flat-button color="dark" (click)="submit()">
        submit
    </button>
</mat-footer>