<mat-toolbar>
    <div class="page-title spacer">
        Input Editor
    </div>

    <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>

<mat-content>
    <div class="container">
        <form [formGroup]="form" (ngSubmit)="!form.invalid && submit()">
            <h2>
                Register
            </h2>
            
            <mat-form-field appearance="outline">
                <mat-label>
                    Tag ID
                </mat-label>
                
                <input matInput type="text" name="tagId" placeholder="tag id" formControlName="tagId" required>
            
                <mat-error *ngIf="errors.tagId">
                    {{ errors.tagId }}
                </mat-error>
            </mat-form-field>
            
            <mat-form-field appearance="outline">
                <mat-label>
                    Interface
                </mat-label>
                
                <mat-select name="interface" placeholder="device" formControlName="interface" required>
                    <mat-option value="INT">
                        INT
                    </mat-option>
                    <mat-option value="SINT">
                        SINT
                    </mat-option>
                    <mat-option value="DINT">
                        DINT
                    </mat-option>
                    <mat-option value="REAL">
                        REAL
                    </mat-option>
                    <mat-option value="BOOL">
                        BOOL
                    </mat-option>
                </mat-select>
                
                <mat-error *ngIf="errors.interface">
                    {{ errors.interface }}
                </mat-error>
            </mat-form-field>
            
            <mat-form-field appearance="outline">
                <mat-label>
                    Device
                </mat-label>
                
                <mat-select name="deviceId" placeholder="device" formControlName="deviceId" required>
                    <mat-option *ngFor="let device of devices.data" [value]="device.deviceId">
                        {{ device.description }}
                    </mat-option>
                </mat-select>
            
                <mat-error *ngIf="errors.deviceId">
                    {{ errors.deviceId }}
                </mat-error>
            </mat-form-field>
            
            <mat-form-field appearance="outline">
                <mat-label>
                    Allowance
                </mat-label>
                
                <input matInput type="number" name="allowance" placeholder="allowance" formControlName="allowance" required>
            
                <mat-error *ngIf="errors.allowance">
                    {{ errors.allowance }}
                </mat-error>
            </mat-form-field>
            
            <mat-form-field appearance="outline">
                <mat-label>
                    Writeable
                </mat-label>
                
                <mat-select name="writeable" placeholder="device" formControlName="writeable" required>
                    <mat-option [value]="true">
                        Enabled
                    </mat-option>

                    <mat-option [value]="false">
                        Disnabled
                    </mat-option>
                </mat-select>
                
                <mat-error *ngIf="errors.writeable">
                    {{ errors.writeable }}
                </mat-error>
            </mat-form-field>

            <h2>
                Input Configuration
            </h2>
            
            <mat-form-field appearance="outline">
                <mat-label>
                    Type
                </mat-label>
                
                <mat-select name="type" placeholder="type" formControlName="type" required>
                    <mat-option value="analog">
                        Analog
                    </mat-option>
                    <mat-option value="digital">
                        Digital
                    </mat-option>
                </mat-select>
            
                <mat-error *ngIf="errors.type">
                    {{ errors.type }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>
                    Visibility
                </mat-label>
                
                <mat-select name="hidden" placeholder="visibility" formControlName="hidden" required>
                    <mat-option [value]="true">
                        Hidden
                    </mat-option>
                    <mat-option [value]="false">
                        Visable
                    </mat-option>
                </mat-select>
            
                <mat-error *ngIf="errors.hidden">
                    {{ errors.hidden }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>
                    Description
                </mat-label>
                
                <input matInput type="text" name="description" placeholder="description" formControlName="description" required>
            
                <mat-error *ngIf="errors.description">
                    {{ errors.description }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>
                    Module ID
                </mat-label>
                
                <input matInput type="number" name="moduleId" placeholder="module id" formControlName="moduleId" required>
            
                <mat-error *ngIf="errors.moduleId">
                    {{ errors.moduleId }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" formGroupName="analog" *ngIf="form.value.type == 'analog'">
                <mat-label>
                    Key
                </mat-label>
                
                <mat-select name="key" placeholder="key" formControlName="key" [required]="form.value.type == 'analog'">
                    <mat-option *ngFor="let o of keys" [value]="o">
                        {{ o }}
                    </mat-option>
                </mat-select>
            
                <mat-error *ngIf="errors.analog.key">
                    {{ errors.analog.key }}
                </mat-error>
            </mat-form-field>

            <section formGroupName="analog" *ngIf="form.value.type == 'analog'">
                <mat-form-field appearance="outline">
                    <mat-label>
                        Decimals
                    </mat-label>
                    
                    <input matInput type="number" name="decimals" placeholder="decimals" formControlName="decimals" [required]="form.value.type == 'analog'">
                
                    <mat-error *ngIf="errors.analog.decimals">
                        {{ errors.analog.decimals }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>
                        Units
                    </mat-label>
                    
                    <input matInput type="text" name="units" placeholder="units" formControlName="units">
                
                    <mat-error *ngIf="errors.analog.units">
                        {{ errors.analog.units }}
                    </mat-error>
                </mat-form-field>
            </section>

            <mat-form-field appearance="outline" formGroupName="analog" *ngIf="form.value.type == 'analog'">
                <mat-label>
                    Offset
                </mat-label>
                
                <input matInput type="number" name="offset" placeholder="offset" formControlName="offset">
            
                <mat-error *ngIf="errors.analog.offset">
                    {{ errors.analog.offset }}
                </mat-error>
            </mat-form-field>

            <div flex-column formGroupName="analog" *ngIf="form.value.type == 'analog'">
                <div flex-column formGroupName="scaling">
                    <h2>
                        Scaling
                    </h2>

                    <mat-form-field appearance="outline">
                        <mat-label>
                            Type
                        </mat-label>

                        <mat-select name="type" placeholder="scaling type" formControlName="type" [required]="form.value.type == 'analog'">
                            <mat-option value="ntc">
                                NTC
                            </mat-option>
                
                            <mat-option value="none">
                                None
                            </mat-option>
                
                            <mat-option value="linear">
                                Linear
                            </mat-option>
                        </mat-select>
                        
                        <mat-error *ngIf="errors.analog.scaling.type">
                            {{ errors.analog.scaling.type }}
                        </mat-error>
                    </mat-form-field>
                    
                    <h2 *ngIf="form.value.analog.scaling.type != 'none'">
                        Raw
                    </h2>

                    <section formGroupName="raw" *ngIf="form.value.analog.scaling.type != 'none'">
                        <mat-form-field appearance="outline">
                            <mat-label>
                                Low
                            </mat-label>
                            
                            <input matInput type="number" name="low" placeholder="low" formControlName="low" [required]="form.value.type == 'analog' && form.value.scaling_type != 'none'">
                        
                            <mat-error *ngIf="errors.analog.scaling.raw.low">
                                {{ errors.analog.scaling.raw.low }}
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>
                                High
                            </mat-label>
                            
                            <input matInput type="number" name="high" placeholder="high" formControlName="high" [required]="form.value.type == 'analog' && form.value.scaling_type != 'none'">
                        
                            <mat-error *ngIf="errors.analog.scaling.raw.high">
                                {{ errors.analog.scaling.raw.high }}
                            </mat-error>
                        </mat-form-field>
                    </section>
                    
                    <h2 *ngIf="form.value.analog.scaling.type != 'none'">
                        Scaled
                    </h2>

                    <section formGroupName="scaled" *ngIf="form.value.analog.scaling.type != 'none'">
                        <mat-form-field appearance="outline">
                            <mat-label>
                                Low
                            </mat-label>
                            
                            <input matInput type="number" name="low" placeholder="low" formControlName="low" [required]="form.value.type == 'analog' && form.value.scaling_type != 'none'">
                        
                            <mat-error *ngIf="errors.analog.scaling.scaled.low">
                                {{ errors.analog.scaling.scaled.low }}
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>
                                High
                            </mat-label>
                            
                            <input matInput type="number" name="high" placeholder="high" formControlName="high" [required]="form.value.type == 'analog' && form.value.scaling_type != 'none'">
                        
                            <mat-error *ngIf="errors.analog.scaling.scaled.high">
                                {{ errors.analog.scaling.scaled.high }}
                            </mat-error>
                        </mat-form-field>
                    </section>
                </div>
            </div>

            <mat-form-field appearance="outline" formGroupName="digital" *ngIf="form.value.type == 'digital'">
                <mat-label>
                    Bit
                </mat-label>
                
                <input matInput type="number" min="0" max="65535" name="bit" placeholder="bit" formControlName="bit" [required]="form.value.type == 'digital'">
            
                <mat-error *ngIf="errors.digital.bit">
                    {{ errors.digital.bit }}
                </mat-error>
            </mat-form-field>

            <section formGroupName="digital" *ngIf="form.value.type == 'digital'">
                <mat-form-field appearance="outline">
                    <mat-label>
                        Low
                    </mat-label>
                    
                    <input matInput type="text" name="low" placeholder="low" formControlName="low" [required]="form.value.type == 'digital'">
                
                    <mat-error *ngIf="errors.digital.low">
                        {{ errors.digital.low }}
                    </mat-error>
                </mat-form-field>
            
                <mat-form-field appearance="outline">
                    <mat-label>
                        High
                    </mat-label>
                    
                    <input matInput type="text" name="high" placeholder="high" formControlName="high" [required]="form.value.type == 'digital'">
                
                    <mat-error *ngIf="errors.digital.high">
                        {{ errors.digital.high }}
                    </mat-error>
                </mat-form-field>
            </section>
        </form>
    </div>
</mat-content>

<mat-footer>
    <button mat-flat-button color="dark" (click)="submit()">
        submit
    </button>
</mat-footer>